*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:'Poppins', sans-serif;
    }

    body{
      background:#f5f5f5;
      color:#222;
    }

    /* =========================
       NAVBAR
    ========================= */

    nav{
      width:100%;
      height:90px;
      background:white;
      display:flex;
      align-items:center;
      justify-content:space-between;
      padding:0 40px;
      position:sticky;
      top:0;
      z-index:999;
      box-shadow:0 2px 10px rgba(0,0,0,0.08);
    }

    .nav-left{
      display:flex;
      align-items:center;
      gap:30px;
    }

    .logo{
      display:flex;
      align-items:center;
      gap:10px;
    }

    .logo-circle{
      width:50px;
      height:50px;
      border-radius:50%;
      background:linear-gradient(
        135deg,
        #ffc107,
        #ff6b00,
        #d62828
      );

      display:flex;
      justify-content:center;
      align-items:center;

      color:white;
      font-weight:700;
      font-size:20px;
    }

    .logo h2{
      font-size:28px;
      font-weight:700;
      color:#d62828;
    }

    /* LOCATION */

    .location{
      display:flex;
      align-items:center;
      gap:12px;
      background:#fff3dc;
      padding:12px 18px;
      border-radius:14px;
      cursor:pointer;
    }

    .location i{
      color:#ff6b00;
      font-size:20px;
    }

    .location p{
      font-size:14px;
      color:#555;
    }

    .location h4{
      font-size:15px;
      color:#222;
    }
    
    /* =========================
   LOCATION SELECTOR
========================= */

.location-selector{
  position:relative;
}

.location-button{
  display:flex;
  align-items:center;
  gap:14px;

  background:#fff3dc;

  padding:12px 18px;

  border-radius:14px;

  cursor:pointer;

  transition:0.3s;
}

.location-button:hover{
  background:#ffe2b0;
}

.location-button i{
  color:#ff6b00;
  font-size:18px;
}

.location-button p{
  font-size:13px;
  color:#666;
}

.location-button h4{
  font-size:15px;
  color:#222;
}

.location-dropdown{
  position:absolute;

  top:80px;
  left:0;

  width:260px;
  max-height:320px;

  overflow-y:auto;

  background:white;

  border-radius:18px;

  border:1px solid #ececec;

  box-shadow:0 15px 35px rgba(0,0,0,0.08);

  opacity:0;
  visibility:hidden;

  transform:translateY(10px);

  transition:0.3s;

  z-index:1000;
}

.location-selector:hover .location-dropdown{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

.city-option{
  padding:16px 20px;

  cursor:pointer;

  transition:0.3s;

  border-bottom:1px solid #f3f3f3;
}

.city-option:hover{
  background:linear-gradient(
    135deg,
    #ffc107,
    #ff6b00
  );

  color:white;
}

    /* SEARCH */

    .search-bar{
      flex:1;
      max-width:700px;
      margin:0 40px;
      position:relative;
    }

    .search-bar input{
      width:100%;
      padding:16px 20px 16px 55px;
      border:none;
      outline:none;
      background:#f1f1f1;
      border-radius:18px;
      font-size:15px;
    }

    .search-bar i{
      position:absolute;
      left:20px;
      top:17px;
      color:#777;
      font-size:18px;
    }

    /* USER */

    .nav-right{
      display:flex;
      align-items:center;
      gap:20px;
    }

    .login-btn{
      padding:12px 24px;
      border:none;
      border-radius:14px;
      background:#d62828;
      color:white;
      font-weight:600;
      cursor:pointer;
      transition:0.3s;
    }

    .login-btn:hover{
      background:#b71c1c;
    }

    .cart{
      width:48px;
      height:48px;
      border-radius:14px;
      background:#fff3dc;
      display:flex;
      justify-content:center;
      align-items:center;
      cursor:pointer;
      position:relative;
    }

    .cart i{
      color:#ff6b00;
      font-size:20px;
    }

    /* =========================
       HERO BANNER
    ========================= */

    .hero{
      width:100%;
      height:420px;

      background:linear-gradient(
        135deg,
        #ffc107,
        #ff6b00,
        #d62828
      );

      display:flex;
      align-items:center;
      justify-content:space-between;

      padding:60px;
      color:white;
    }

    .hero-text h1{
      font-size:64px;
      line-height:1.1;
      margin-bottom:20px;
    }

    .hero-text p{
      font-size:18px;
      max-width:650px;
      line-height:1.8;
      margin-bottom:30px;
    }

    .hero button{
      padding:16px 32px;
      border:none;
      border-radius:14px;
      background:white;
      color:#d62828;
      font-weight:700;
      cursor:pointer;
      transition:0.3s;
    }

    .hero button:hover{
      transform:scale(1.05);
    }

    .hero img{
      width:420px;
    }


    /* =========================
       PROMOS
    ========================= */

    section{
      padding:50px;
    }

    .section-title{
      display:flex;
      justify-content:space-between;
      align-items:center;
      margin-bottom:30px;
    }

    .section-title h2{
      font-size:34px;
    }

    .promo-grid{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
      gap:25px;
    }

   .promo-card{
  position:relative;

  height:170px;

  border-radius:24px;

  overflow:hidden;

  cursor:pointer;

  transition:0.3s;

  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.promo-card:hover{
  transform:translateY(-8px);
}


.promo-image{
  position:absolute;

  width:100%;
  height:100%;

  object-fit:cover;

  top:0;
  left:0;
}

/* CAPA OSCURA */

.promo-overlay{
  position:absolute;

  inset:0;

  background:linear-gradient(
    to top,
    rgba(0,0,0,0.75),
    rgba(0,0,0,0.25)
  );
}

/* TEXTO */

.promo-content{
  position:relative;

  z-index:2;

  height:100%;

  display:flex;
  flex-direction:column;
  justify-content:flex-end;

  padding:30px;

  color:white;
}

.promo-content h3{
  font-size:32px;
  margin-bottom:10px;
  font-weight:700;
}

.promo-content p{
  line-height:1.7;
  max-width:280px;
  font-size:15px;
}

/* =========================
   PROMO CAROUSEL
========================= */

.promo-carousel{
  position:relative;

  width:100%;

  overflow:hidden;
}

.promo-grid{
  display:grid;

  grid-template-columns:repeat(3,1fr);

  gap:25px;
}

    /* =========================
       BRANDS
    ========================= */

    .brands{
      display:flex;
      gap:25px;
      overflow-x:auto;
      padding-bottom:10px;
    }

    .brand-card{
      min-width:180px;
      background:white;
      border-radius:22px;
      padding:25px;
      text-align:center;
      cursor:pointer;
      transition:0.3s;
      border:2px solid transparent;
      box-shadow:0 5px 20px rgba(0,0,0,0.05);
    }

    .brand-card:hover{
      border-color:#ff6b00;
      transform:translateY(-6px);
    }

    .brand-card img{
      width:90px;
      height:90px;
      object-fit:contain;
      margin-bottom:15px;
    }

    .brand-card h3{
      font-size:20px;
    }

    /* =========================
       CATEGORIES
    ========================= */

    .categories{
      display:flex;
      gap:15px;
      overflow-x:auto;
      margin-top:30px;
    }

    .category{
      padding:14px 26px;
      border-radius:40px;
      background:white;
      cursor:pointer;
      white-space:nowrap;
      border:1px solid #ececec;
      transition:0.3s;
      font-weight:500;
    }

    .category:hover{
      background:#ff6b00;
      color:white;
    }

    .active-category{
     background:#ff6b00;
     color:white;
    }

    /* =========================
       PRODUCTS
    ========================= */

    .products-grid{
      margin-top:40px;

      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
      gap:25px;
    }

    .product-card{
      background:white;
      border-radius:24px;
      overflow:hidden;
      transition:0.3s;
      box-shadow:0 8px 25px rgba(0,0,0,0.06);
    }

    .product-card:hover{
      transform:translateY(-8px);
    }

    .product-card img{
      width:100%;
      height:220px;
      object-fit:cover;
    }

    .product-content{
      padding:25px;
    }

    .product-content h3{
      font-size:24px;
      margin-bottom:10px;
    }

    .product-content p{
      color:#666;
      line-height:1.6;
      margin-bottom:18px;
    }

    .product-footer{
      display:flex;
      justify-content:space-between;
      align-items:center;
    }

    .price{
      font-size:26px;
      font-weight:700;
      color:#d62828;
    }

    .add-btn{
      width:50px;
      height:50px;
      border:none;
      border-radius:14px;

      background:linear-gradient(
        135deg,
        #ffc107,
        #ff6b00
      );

      color:white;
      cursor:pointer;
      font-size:20px;
    }

    /* =========================
       LOGIN MODAL
    ========================= */

    .login-modal{
      position:fixed;
      inset:0;
      background:rgba(0,0,0,0.5);

      display:flex;
      justify-content:center;
      align-items:center;

      z-index:2000;
    }

    .login-box{
      width:420px;
      background:white;
      border-radius:28px;
      padding:40px;
    }
    .close-login{
  position:absolute;

  top:20px;
  right:20px;

  width:35px;
  height:35px;

  border:none;

  border-radius:50%;

  background:#f1f1f1;

  cursor:pointer;

  font-size:18px;

  transition:0.3s;
}

.close-login:hover{
  background:#d62828;
  color:white;
}

.login-box{
  position:relative;
}

    .login-box h2{
      font-size:34px;
      margin-bottom:10px;
    }

    .login-box p{
      color:#666;
      margin-bottom:30px;
    }

    .social-btn{
      width:100%;
      padding:16px;
      border:none;
      border-radius:14px;
      margin-bottom:15px;
      font-size:15px;
      font-weight:600;
      cursor:pointer;

      display:flex;
      align-items:center;
      justify-content:center;
      gap:12px;
    }

    /* =========================
   LOGIN TYPE
========================= */

.login-type{
  display:flex;
  gap:15px;
  margin-bottom:25px;
}

.type-btn{
  flex:1;

  padding:14px;

  border:none;

  border-radius:14px;

  background:#f1f1f1;

  cursor:pointer;

  font-weight:600;

  transition:0.3s;

  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
}

.type-btn:hover{
  background:#ffe2b0;
}

.type-btn.active{
  background:linear-gradient(
    135deg,
    #ffc107,
    #ff6b00
  );

  color:white;
}

    .google{
      background:#f1f1f1;
    }

    .facebook{
      background:#1877f2;
      color:white;
    }

    .email-login{
      margin-top:20px;
    }

    .email-login input{
      width:100%;
      padding:16px;
      border-radius:14px;
      border:1px solid #ddd;
      margin-bottom:15px;
      outline:none;
    }

    .continue-btn{
      width:100%;
      padding:16px;
      border:none;
      border-radius:14px;

      background:linear-gradient(
        135deg,
        #ffc107,
        #ff6b00,
        #d62828
      );

      color:white;
      font-size:16px;
      font-weight:700;
      cursor:pointer;
    }

    /* =========================
       RESPONSIVE
    ========================= */

    @media(max-width:1000px){

      nav{
        flex-direction:column;
        height:auto;
        padding:20px;
        gap:20px;
      }

      .search-bar{
        width:100%;
        margin:0;
      }

      .hero{
        flex-direction:column;
        text-align:center;
        height:auto;
        gap:40px;
      }

      .hero h1{
        font-size:42px;
      }

      .hero img{
        width:300px;
      }

    }

/* =========================
   USER MENU
========================= */

.user-menu{
  display:flex;
  align-items:center;
  gap:20px;
}

.notification{
  position:relative;

  width:50px;
  height:50px;

  border-radius:14px;

  background:#fff3dc;

  display:flex;
  justify-content:center;
  align-items:center;

  cursor:pointer;

  transition:0.3s;
}

.notification:hover{
  background:#ff6b00;
  color:white;
}

.notification i{
  font-size:20px;
  color:#ff6b00;
}

.notification:hover i{
  color:white;
}

.notification-dot{
  position:absolute;
  top:10px;
  right:10px;

  width:10px;
  height:10px;

  background:#00c853;

  border-radius:50%;
}

.user-profile{
  position:relative;

  display:flex;
  align-items:center;
  gap:14px;

  background:white;

  padding:10px 18px;

  border-radius:18px;

  border:1px solid #ececec;

  cursor:pointer;

  transition:0.3s;
}

.user-profile:hover{
  border-color:#ff6b00;
}

.user-avatar{
  width:50px;
  height:50px;

  border-radius:50%;

  background:linear-gradient(
    135deg,
    #ffc107,
    #ff6b00,
    #d62828
  );

  display:flex;
  justify-content:center;
  align-items:center;

  color:white;

  font-weight:700;
  font-size:18px;
}

.user-info h4{
  font-size:15px;
  margin-bottom:3px;
}

.status{
  display:flex;
  align-items:center;
  gap:8px;
}

.status-dot{
  width:10px;
  height:10px;

  border-radius:50%;

  background:#00c853;

  box-shadow:0 0 10px #00c853;
}

.status p{
  font-size:13px;
  color:#666;
}

.dropdown-menu{
  position:absolute;

  top:85px;
  right:0;

  width:260px;

  background:white;

  border-radius:20px;

  overflow:hidden;

  border:1px solid #ececec;

  box-shadow:0 15px 35px rgba(0,0,0,0.08);

  opacity:0;
  visibility:hidden;

  transform:translateY(10px);

  transition:0.3s;

  z-index:1000;
}

.user-profile:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

.dropdown-menu a{
  display:flex;
  align-items:center;
  gap:14px;

  padding:18px 22px;

  text-decoration:none;

  color:#222;

  font-size:15px;

  transition:0.3s;

  border-bottom:1px solid #f3f3f3;
}

.dropdown-menu a:hover{
  background:linear-gradient(
    135deg,
    #ffc107,
    #ff6b00
  );

  color:white;
}

.dropdown-menu a i{
  width:20px;
}

/* =========================
   PRIVATE CONTENT
========================= */

.guest-mode .private-content{
  opacity:0.5;

  filter:blur(1px);

  pointer-events:none;
}



  #privatePage{
    display:none;
  }

/* =========================
   PAGINA PUBLICA
========================= */

.public-hero{
  width:100%;
  height:100vh;

  background-image:url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=1600&auto=format&fit=crop');

  background-size:cover;
  background-position:center;

  position:relative;

  display:flex;
  justify-content:center;
  align-items:center;
}

.public-overlay{
  position:absolute;
  inset:0;

  background:rgba(0,0,0,0.55);
}

.public-content{
  position:relative;
  z-index:2;

  text-align:center;
  color:white;
}

.public-logo{
  width:110px;
  height:110px;

  border-radius:50%;

  margin:auto;
  margin-bottom:25px;

  background:linear-gradient(
    135deg,
    #ffc107,
    #ff6b00,
    #d62828
  );

  display:flex;
  justify-content:center;
  align-items:center;

  font-size:36px;
  font-weight:700;
}

.public-content h1{
  font-size:68px;
  margin-bottom:20px;
}

.public-content p{
  font-size:22px;
  margin-bottom:35px;
}

.public-content button{
  padding:18px 40px;

  border:none;

  border-radius:16px;

  background:linear-gradient(
    135deg,
    #ffc107,
    #ff6b00
  );

  color:white;

  font-size:18px;
  font-weight:700;

  cursor:pointer;
}